* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2f2;
  width: 85%;
  margin: auto;
  height: auto;
}

.pagecontainer {
  width: 85%;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 50%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo h2 {
  font-weight: 700;
  font-size: 20px;
}

.logo img {
  height: 100%;
  margin-left: 20px;
}

nav a {
  margin-right: 2rem;
  text-decoration: none;
  color: #6c63ff;
  font-weight: 700;
}

.logout {
  color: red;
}

input {
  width: 97%;
  outline: none;
  border: none;
  height: 30px;
  padding: 10px;
  background: none;
  font-size: 15px;
}

.searchBar {
  background: #f2f2f2;
  -webkit-box-shadow: 0px 10px 30px rgba(108, 99, 255, 0.2);
          box-shadow: 0px 10px 30px rgba(108, 99, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.searchBar i {
  font-size: 22px;
  color: #6c63ff;
}

.filterandSort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0px;
  padding: 5px;
}

.filterandSort i {
  margin-left: 3px;
}

.filter {
  cursor: pointer;
}

.sort {
  cursor: pointer;
}

.searchResults {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 250px;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 5px 15px rgba(108, 99, 255, 0.2);
          box-shadow: 0px 5px 15px rgba(108, 99, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

.result h3 {
  font-size: 35px;
  color: white;
  background: #6c63ff;
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

.result p {
  margin: 13px 0px;
  font-size: 14px;
}

/*Filter Box*/
.filterbox {
  display: none;
  margin-bottom: 40px;
}

.filterbox div {
  margin-right: 40px;
}

.filterbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=search.css.map */